.clients {
	@include section;

	@media screen and (min-width: 1200px) {
		@include section(94px, 94px);
	}
}

.clients__title {
	font-weight: 700;
	font-size: 28px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;

	margin-bottom: 30px;

	color: var(--secondary-color);

	@media screen and (min-width: 1200px) {
		font-size: 36px;
		line-height: 1.16;

		margin-bottom: 50px;
	}
}
.clients__list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.clients__item {
	flex-basis: calc((100% - 30px) / 2);

	@media screen and (min-width: 768px) {
		flex-basis: calc((100% - 60px) / 3);
	}

	@media screen and (min-width: 1200px) {
		flex-basis: calc((100% - 150px) / 6);
	}
}

.clients__link {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 16px 0;
	
	// width: 170px;
	// height: 92px;

	color: var(--icon-color);
	border: 1px solid #AFB1B8;
	border-radius: 4px;

	transition: 
		color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover,
.clients__link:focus {
	border-color: var(--accent-color);
	color: var(--accent-color);
	outline: transparent;
}

.clients__icon {
	fill: currentColor;
}