.peculiarities {
	@include section;

	@media screen and (min-width: 1200px) {
		@include section(94px, 94px);
	}
}

.peculiarities__list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;

	max-width: 100%;
}

.peculiarities__item {
	max-width: 100%;

	@media screen and (min-width: 768px) {
		flex-basis: calc((100% - 30px) / 2);
	}

	@media screen and (min-width: 1200px) {
		flex-basis: calc((100% - 90px) / 4);
	}
}

.peculiarities__thumb {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 120px;

	margin-bottom: 30px;

	background-color: var(--bg-button);
}

.peculiarities__title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	margin-bottom: 10px;

	color: var(--secondary-color);

	@media screen and (max-width: 768px) {
		text-align: center;
	}
}