.work {
	@include section;

	display: none;

	@media screen and (min-width: 1200px) {
		display: block;
		@include section(0, 94px);
	}
}

.work__title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;

	text-align: center;

	margin-bottom: 50px;

	color: var(--secondary-color);
}

.work__list {
	display: flex;
	gap: 30px;
}

.work__list:not(:last-child) {
	margin-right: 30px;
}

.work__item {
	position: relative;
}

.item__title--box {
	position: absolute;
	bottom: 0;
	left: 0;
	
	width: 370px;
	height: 70px;
	margin: 0 auto;

	text-align: center;
	
	background-color: rgba(47, 48, 58, 0.8);
}

.work__item--title {
	font-weight: 700;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	padding: 27px 0;

	color: var(--white-color);
}