.logo {
	font-family: var(--font-secondary);
	font-weight: 700;
	font-size: 24px;
	line-height: 1.16;

	color: var(--accent-color);

	@media screen and (min-width: 1200px) {
		font-size: 26px;
		line-height: 1.19;
	}
}

.logo__dark {
	color: var(--black-color);
}

.logo__light {
	color: var(--white-color);
}